<div id="rightBar" [class]="{light:!(isDark|async),dark:isDark|async}">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
        <mat-icon>computer</mat-icon>
    </button>
    <div class="dropdown">
        <button mat-icon-button>
            <mat-icon>computer</mat-icon>
        </button>
        <div class="dropdown-content">
            <p>Hello World!</p>
        </div>
    </div>
    <mat-menu #menu='matMenu' xPosition="before">
        asdasdasdasd
    </mat-menu>
    <button mat-icon-button>
        <mat-icon>face</mat-icon>
    </button>
    <div class="ids" *ngIf="show">
        <ul>
            <li>خرید طرح</li>
            <li>حجم اضافه</li>
            <li>تغییر طرح</li>
            <li>انتقادات</li>
        </ul>
    </div>
    <button mat-icon-button>
        <mat-icon>settings_input_antenna</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>people</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>person_pin_circle</mat-icon>
    </button>
    <button mat-icon-button>
        <span class="material-icons">account_circle</span></button>
    <button mat-icon-button>
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>upgrade</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>space_dashboard</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>power</mat-icon>
    </button>
</div>
