//@use '~@angular/material' as mat;
:host{
  position: inherit;
}
.example-button {
  margin-top: 16px;
}

@mixin arman {
  background-color: #0078cf;
}

.example-tooltip-red {
  background: #b71c1c;
}

button{
  //@include mat.elevation-transition();
  //@include mat.elevation(2);
  //@include button-base.base;
  //background-color: $primary-light;
  &:hover{
    //@include mat.elevation(7)
  }
}
mat-sidenav-content{
  display:grid;
  overflow: visible;
  grid-template-rows:auto auto 100%;
  grid-template-columns:  auto 3rem;
  grid-template-areas:
          'header header'
          'progressBar progressBar'
          'main right'
}
mat-toolbar{
  grid-area: header;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns:repeat(3,1fr);
  justify-content: space-around;
}
mat-progress-bar{
  grid-area:progressBar;
}
#app-nav{
  grid-area:main;
  justify-content: center;
  align-items: center;
}
app-sidebar{
  grid-area:right;
  height: 100%;
  grid-row: 2/4;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #cef;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.toolbar {
  display: flex;
  justify-content: space-between;

  .btn-group {

    .spn {
      display: flex;

      :nth-child(1) {
        position: absolute;
        right: 0;
        top: 0;
      }
    }


  }

}