<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'over'"
               [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/post" routerLinkActive="active">post |</a>
      <a mat-list-item routerLink="/post/list" routerLinkActive="active"> notfound |</a>
      <a mat-list-item routerLink="/post/detail" routerLinkActive="active"> detail |</a>
      <a mat-list-item routerLink="/post/create" routerLinkActive="active"> create |</a>
      <a mat-list-item routerLink="/login" routerLinkActive="active"> login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Welcome</span>
      </div>
      <div *ngIf="spin" class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="btn-group">
        <button mat-button (click)="DarkTheme()"><mat-icon>palette</mat-icon></button>
        <button (click)="logout()" routerLink="logout" mat-stroked-button id="logout">
          <mat-icon>logout</mat-icon>
          <span>
          logout
         </span>
        </button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>

</mat-sidenav-container>
