.wrapper {
  margin: 20px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0 4px 4px 0 rgba(110, 120, 120, 0.7);
  border: none;
}

.wrapper:hover {
  border: 1px solid hsla(12, 60%, 65%, 0.6);
  box-shadow: none;
}

.form {
  flex-basis: 70%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  width: 3rem;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  mat-form-field {
    flex-direction: column;
    margin: 20px 0 0 0;
    /* background-color: white */
  }
}

 .ng-submitted {
  background-color: white;
}
 .ng-valid[required], .ng-valid.required {
  // border-left: 25px solid #42A948;
}
 .ng-invalid:not(form) {
  // border-left: 2px solid #a94442;
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

select {
  width: 100%;
  padding: .5rem;
}
