<div id="rightBar">
  <div class="icon-wrapper">
    <button mat-icon-button overlapTrigger="menu" [matMenuTriggerFor]="menu">
      <mat-icon class="bgbtn">computer</mat-icon>
    </button>
    <div class="dropdown">
      <button mat-icon-button>
      <mat-icon class="bgbtn">computer</mat-icon>
    </button>
      <div class="dropdown-content">
        <p>Hello World!</p>
      </div>
    </div>
    <mat-menu #menu='matMenu' xPosition="before">
    </mat-menu>
    <button mat-icon-button >
      <mat-icon class="bgbtn">face</mat-icon>
    </button>
    <div class="ids" *ngIf="show">
      <ul>
        <li>خرید طرح</li>
        <li>حجم اضافه</li>
        <li>تغییر طرح</li>
        <li>انتقادات</li>
      </ul>
    </div>
    <button mat-icon-button>
      <mat-icon class="bgbtn">settings_input_antenna</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="bgbtn">people</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="bgbtn">person_pin_circle</mat-icon>
    </button>
    <button mat-icon-button class="bgbtn">
      <span class="material-icons">account_circle</span></button>
    <button mat-icon-button>
      <mat-icon class="bgbtn">settings</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="bgbtn">upgrade</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="bgbtn">space_dashboard</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="bgbtn">login</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon class="bgbtn">power</mat-icon>
    </button>
  </div>
</div>
